*{
    font-family: auto;
}
table, th, td{
    font-size: 20pt;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    padding: 4px;
    width: inherit;
}
td{
    text-align: center;
}
.vermelho{
    background-color: red;
}
.verde{
    background-color:#18e218;
}
.azul{
    background-color: blue;
}
.amarelo{
    background-color: yellow;
}
.azul-claro{
    background-color: #00bcd4;
}
.magenta{
    background-color: magenta;
}
/*Inserir o efeito onmouse*/
.vermelho:hover{
    color:white;
    text-decoration: underline;
    text-align: center;
    font: bold;
    font-size: smaller;
}
.verde:hover{
    color:white;
    text-decoration: underline;
    text-align: center;
    font: bold;
    font-size: smaller;
}
.azul:hover{
    color:white;
    text-decoration: underline;
    text-align: center;
    font: bold;
    font-size: smaller;
}
.amarelo:hover{
    color: white;
    text-decoration: underline;
    text-align: center;
    font: bold;
    font-size: smaller;
}
.azul-claro:hover{
    color: white;
    text-decoration: underline;
    text-align: center;
    font: bold;
    font-size: smaller;
}
.magenta:hover{
    color: white;
    text-decoration: underline;
    text-align: center;
    font: bold;
    font-size: smaller;
}